<nav id="nav" class="nav">
    <div class="relative w-full h-full flex justify-center items-center">
        <div id="nav-button-close" class="absolute top-8 right-8 group cursor-pointer group">
            <svg class="group-hover:rotate-90 duration-1000" xmlns="http://www.w3.org/2000/svg" width="92" height="92" fill="#5bbf9b" viewBox="0 0 256 256"><path d="M202.83,197.17a4,4,0,0,1-5.66,5.66L128,133.66,58.83,202.83a4,4,0,0,1-5.66-5.66L122.34,128,53.17,58.83a4,4,0,0,1,5.66-5.66L128,122.34l69.17-69.17a4,4,0,1,1,5.66,5.66L133.66,128Z"></path></svg>
        </div>
        <div class="uppercase grid gap-8 justify-center family text-quaternary-300">
            <a href="#"><span class="text-primary">0001.</span>Accueil</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Skills</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Expérience</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Projets</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Contact</a>
        </div>
    </div>
</nav>