<nav id="nav" class="nav">
    <div class="relative w-full h-full flex justify-center items-center">
        <div id="nav-button-close" class="absolute top-8 right-8 group cursor-pointer group">
            <svg class="group-hover:rotate-90 duration-1000 feather feather-x" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#5BBF9B" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
        <div class="uppercase grid gap-8 justify-center family text-quaternary-300">
            <a href="#"><span class="text-primary">0001.</span>Accueil</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Skills</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Expérience</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Projets</a>
            <div class="nav-separator">
                <span class="nav-separator-square secondary"></span>
                <span class="nav-separator-square primary"></span>
            </div>
            <a href="#"><span class="text-primary">0001.</span>Contact</a>
        </div>
    </div>
</nav>