@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/index";

body {
    font-family: "Poppins", sans-serif;
    @apply text-quaternary;
}

h1 {
    @apply lg:text-7xl text-4xl font-extrabold;
}

h2 {
    @apply text-2xl text-quaternary-400 font-extrabold;
}

h3 {
    @apply text-xl text-secondary font-extrabold;
}

.family {
    font-family: "JetBrains Mono", serif;
}

.scroll {
    scrollbar-color: #2B2826 #191716;
}