<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-[#191716] px-8 pt-8 h-dvh overflow-hidden">
        <main class="w-full h-full border border-b-0 border-secondary">
            {% block body %}

            {% endblock %}
        </main>
    </body>
</html>
