<section id="about" class="section">
    <div class="flex gap-2 items-baseline mb-4 lg:mb-16 flex-col lg:flex-row">
        <div class="flex gap-2 items-baseline w-full lg:hidden">
            <span class="section-number">0010.</span>
            <span class="ml-2 max-w-48 w-full h-0.5 bg-secondary self-center"></span>
        </div>
        <span class="section-number lg:flex hidden">0010.</span>
        <h2>Un bout de moi.</h2>
        <span class="ml-2 w-48 h-0.5 bg-secondary self-center lg:flex hidden"></span>
    </div>
    <div class="grid gap-4">
        <p>Salut ! Moi, c'est <strong class="text-quaternary-400 font-semibold">Mathéo, 27 ans</strong> et <strong class="text-quaternary-400 font-semibold">développeur web</strong>. De nature particulièrement curieuse, et passionné par la technologie, je me suis naturellement tourné rapidement sur ce domaine qui <strong class="text-quaternary-400 font-semibold">occupe mes journées</strong> depuis quelques années maintenant</p>
        <p>Un peu touche à tout, j'ai aussi <strong class="text-quaternary-400 font-semibold">mes technologies de prédilection</strong> sur lesquelles j'adore travailler. Soucieux du détail, j'adore améliorer constamment mon code pour proposer des sites web <strong class="text-quaternary-400 font-semibold">réutilisables</strong>, <strong class="text-quaternary-400 font-semibold">configurables</strong> et <strong class="text-quaternary-400 font-semibold">le plus accessible possible.</strong></p>
        <p>Également très attiré par <strong class="text-quaternary-400 font-semibold">le design</strong>, je passe une grande partie de mon temps à la recherche d'un élement ou d'un effet qui <strong class="text-quaternary-400 font-semibold">fera la différence</strong>. J'aime aussi dessiner, que ce soit sur papier ou en pixel art, ce qui me permet de travailler <strong class="text-quaternary-400 font-semibold">ma créativité</strong> constamment</p>
        <p>Mon portfolio est entièrement conçu depuis <strong class="font-semibold">mes idées</strong> (avec bien sur de l'inspiration), en espérant qu'il vous plaise. </p>
        <p class="font-semibold">Bonne visite ! 🤍</p>
    </div>
</section>