<section id="about" class="section">
    <div class="flex gap-2 items-baseline mb-16">
        <span class="section-number">0010.</span>
        <h2>Un bout de moi.</h2>
        <span class="ml-2 w-48 h-0.5 bg-secondary self-center"></span>
    </div>
    <div class="grid gap-4">
        <p class="leading-10">Salut ! Moi, c'est <strong class="underline decoration-primary-400 font-semibold text-quaternary-300 decoration-2">Mathéo, 27 ans</strong> et <strong class="underline decoration-secondary-400 font-semibold text-quaternary-300 decoration-2">développeur web</strong>. De nature particulièrement curieuse, et passionné par la technologie, je me suis naturellement tourné rapidement sur ce domaine qui <strong class="underline decoration-secondary-400 font-semibold text-quaternary-300 decoration-2">occupe mes journées</strong>occupe mes journées depuis quelques années maintenant</p>
        <p class="leading-10">Un peu touche à tout, j'ai aussi <strong class="underline decoration-secondary-400 font-semibold text-quaternary-300 decoration-2">mes technologies de prédilection</strong> sur lesquelles j'adore travailler. Soucieux du détail, j'adore améliorer constamment mon code pour proposer des sites web <strong class="underline decoration-primary-400 font-semibold text-quaternary-300 decoration-2">réutilisables</strong>, <strong class="underline decoration-primary-400 font-semibold text-quaternary-300 decoration-2">configurables</strong> et <strong class="underline decoration-primary-400 font-semibold text-quaternary-300 decoration-2">le plus accessible possible.</strong></p>
        <p class="leading-10">Également très attiré par <strong class="underline decoration-primary-400 font-semibold text-quaternary-300 decoration-2">le design</strong>, je passe une grande partie de mon temps à la recherche d'un élement ou d'un effet qui <strong class="underline decoration-primary-400 font-semibold text-quaternary-300 decoration-2">fera la différence</strong>. J'aime aussi dessiner, que ce soit sur papier ou en pixel art, ce qui me permet de travailler <strong class="underline decoration-secondary-400 font-semibold text-quaternary-300 decoration-2">ma créativité</strong> constamment</p>
        <p class="leading-10">Mon portfolio est entièrement conçu depuis <strong class="font-semibold text-quaternary-300">mes idées</strong> (avec bien sur de l'inspiration), en espérant qu'il vous plaise. </p>
        <p class="leading-10 font-semibold text-quaternary-300">Bonne visite ! 🤍</p>
    </div>
</section>