<section id="contact" class="section">
    <div class="flex gap-2 items-baseline mb-4 lg:mb-16 flex-col lg:flex-row">
        <div class="flex gap-2 items-baseline w-full lg:hidden">
            <span class="section-number">0100.</span>
            <span class="ml-2 max-w-48 w-full h-0.5 bg-secondary self-center"></span>
        </div>
        <span class="section-number lg:flex hidden">0100.</span>
        <h2>Contactez-moi !</h2>
        <span class="ml-2 w-48 h-0.5 bg-secondary self-center lg:flex hidden"></span>
    </div>

    <form action="" class="form">
        <div class="grid gap-2">
            <label class="form-label" for="email">Votre email</label>
            <input class="form-input" id="email" type="text" placeholder="monifus.contact@gmail.com">
        </div>

        <div class="grid gap-2">
            <label class="form-label" for="subject">Sujet du message</label>
            <input class="form-input" id="subject" type="text" placeholder="Proposition de travail">
        </div>

        <div class="lg:col-span-2 grid gap-2">
            <label class="form-label" for="message">Votre message</label>
            <textarea class="form-input" id="message" name="message" cols="30" rows="10" placeholder="Je vous contacte pour ..."></textarea>
        </div>

        <button class="btn">
            Envoyer
            <span class="btn-square btn-square1"></span>
            <span class="btn-square btn-square2"></span>
            <span class="btn-square btn-square3"></span>
            <span class="btn-square btn-square4"></span>
        </button>
    </form>
</section>