<section id="home" class="section">
    <div class="flex gap-2 items-baseline">
        <span class="section-number">0000.</span>
        <span class="ml-2 w-48 h-0.5 bg-secondary self-center"></span>
    </div>
    <h1><span class="text-quaternary-300">Zeller Mathéo </span><br>Développeur Pixel</h1>
    <p>Bienvenu sur mon site, retrouvez une partie de mes compétences et mes passions !</p>

    <div class="flex justify-start">
        <a href="#about" class="btn mt-8 scroll-smooth">
            C'est parti !
            <span class="btn-square btn-square1"></span>
            <span class="btn-square btn-square2"></span>
            <span class="btn-square btn-square3"></span>
            <span class="btn-square btn-square4"></span>
        </a>
    </div>
</section>