<section class="section">
    <div class="flex gap-2 items-baseline">
        <span class="section-number">0000.</span>
        <span class="ml-2 w-48 h-0.5 bg-secondary self-center"></span>
    </div>
    <h1><span class="text-quaternary-300">Nom Prénom </span><br>Je suis un titre</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi cum laboriosam odio sunt unde? Asperiores distinctio laborum nisi nobis quisquam, reiciendis? Dicta ipsum laboriosam porro rerum soluta unde voluptate!</p>

    <div class="flex justify-start">
        <button class="btn mt-8">
            C'est parti !
            <span class="btn-square btn-square1"></span>
            <span class="btn-square btn-square2"></span>
            <span class="btn-square btn-square3"></span>
            <span class="btn-square btn-square4"></span>
        </button>
    </div>
</section>