<section class="section">
    <div class="flex gap-2 items-baseline mb-16">
        <span class="section-number">0010.</span>
        <h2>Quelques projets dont je suis fier</h2>
        <span class="ml-2 w-48 h-0.5 bg-secondary self-center"></span>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <a href="https://github.com/LeZellus/SylvainPortfolio" class="article">
            <h3>Portfolio pour un ami</h3>
            <ul class="grid grid-cols-2 family list-decimal list-inside marker:text-primary">
                <li>Symfony</li>
                <li>Tailwind</li>
                <li>SCSS</li>
                <li>FIGMA</li>
                <li>Illustrator</li>
            </ul>
        </a>
        <a href="https://github.com/LeZellus/MigrationsTool" class="article">
            <h3>Outil de migration</h3>
            <ul class="grid grid-cols-2 family list-decimal list-inside marker:text-primary">
                <li>Bash</li>
                <li>Python</li>
                <li>BeautifulSoup</li>
                <li>Pandas</li>
                <li>Openpyxl</li>
            </ul>
        </a>
        <a href="https://monifus.fr/" class="article">
            <h3>Monifus.fr</h3>
            <ul class="grid grid-cols-2 family list-decimal list-inside marker:text-primary">
                <li>Symfony</li>
                <li>Tailwind</li>
                <li>ReactJS</li>
                <li>SCSS</li>
                <li>Mailtrap</li>
                <li>API</li>
            </ul>
        </a>
        <a href="https://www.santiagooo.com/" class="article">
            <h3>Santiagooo.com</h3>
            <ul class="grid grid-cols-2 family list-decimal list-inside marker:text-primary">
                <li>Rails7</li>
                <li>Tailwind</li>
                <li>SCSS</li>
                <li>Figma</li>
                <li>Hotwire</li>
            </ul>
        </a>
    </div>
</section>