<section id="tools" class="section">
    <div class="flex gap-2 items-baseline mb-16">
        <span class="section-number">0011.</span>
        <h2>Les outils avec lesquels j'aime travailler</h2>
        <span class="ml-2 w-48 h-0.5 bg-secondary self-center"></span>
    </div>
    <div class="scroller" data-speed="fast">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Styled Components</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">SCSS</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Webpack</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Mailtrap</span>
            </li>
        </ul>
    </div>

    <div class="scroller" data-direction="right" data-speed="slow">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">ReactJS</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">API</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Github</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Git</span>
            </li>
        </ul>
    </div>

    <div class="scroller" data-speed="slow">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">CSS</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Javascript</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">SQL</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Unity</span>
            </li>
        </ul>
    </div>

    <div class="scroller" data-direction="right" data-speed="fast">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Aria</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">C#</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Tailwind</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">PHP</span>
            </li>
        </ul>
    </div>

    <div class="scroller" data-speed="fast">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Figma</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Symfony</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Doctrine</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">MacOS</span>
            </li>
        </ul>
    </div>

    <div class="scroller" data-direction="right" data-speed="slow">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Aseprite</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Accessibilité</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Gitmoji</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">PHPStorm</span>
            </li>
        </ul>
    </div>

    <div class="scroller" data-speed="slow">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Codepen</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">TailwindPlay</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">FeatherIcons</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">MySQL</span>
            </li>
        </ul>
    </div>

    <div class="scroller" data-direction="right" data-speed="fast">
        <ul class="tag-list scroller__inner uppercase">
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Linux</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Raspberry3</span>
            </li>
            <li class="flex antialiased">
                01001001 00111100 00110011 01000100 01000101 01010110
                <span class="skill">Hostinger</span>
            </li>
            <li class="flex antialiased">
                00111100 01101000 01101001 00111110
                <span class="skill">Spotify</span>
            </li>
        </ul>
    </div>
</section>